.field {
  background-color: $base-background-color;
  color: $base-text-color;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.field--phone {
  background-image: url("../../icons/stack.svg#icon-phone");
}

.field--email {
  background-image: url("../../icons/stack.svg#icon-email");
}
