.form {
  line-height: 18px;
  background-color: $base-background-color;
  color: $base-text-color;
  text-transform: uppercase;
}


.form__explanation {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;
  color: $extra-text-color;
  text-align: center;
  text-transform: none;
}
