/* здесь используйте глобальные переменные */
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

// Colors
$base-text-color: #444444;
$extra-text-color: #000000;
$custom-text-color: #111111;
$product-card-title-text-color: #222222;

$base-background-color: #ffffff;
$extra-background-color: #f2f2f2;
$custom-background-color: #eaeaea;

$base-decor-color-white: #ffffff;
$base-decor-color-green: #68b738;

