.comment-group {
  margin-bottom: 19px;
}

.comment-group__input {
  margin: 38px 20px 0;
}

@media (min-width: $tablet-width) {
  .comment-group {
    margin-bottom: 62px;
  }

  .comment-group__input {
    // margin: 86px 10px 0 70px;
  }

  .comment-group__wrapper {
    margin: 48px 50px 0;
  }
}

@media (min-width: $desktop-width) {
  .comment-group {
    margin-bottom: 68px;
  }

  .comment-group__input {
    margin: 0;
    width: 100%;
  }

  .comment-group__wrapper {
    width: 1220px;
    margin: 76px auto 0;
  }
}
