//.form

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $desktop-width) {
  .form__flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 69;
  }
}
