/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";


/* COMPONENTS */
@import "./components/button.scss";
@import "./components/inner-title.scss";
@import "./components/inner-text.scss";
@import "./components/input-text.scss";
@import "./components/radio.scss";
@import "./components/special-title.scss";
@import "./components/textarea.scss";
@import "./components/checkbox.scss";


/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/menu-list.scss";
@import "./blocks/main.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/algorithm.scss";
@import "./blocks/example.scss";
@import "./blocks/resume.scss";
@import "./blocks/slider.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/invitation.scss";
@import "./blocks/map.scss";
@import "./blocks/office-address.scss";
@import "./blocks/socials.scss";
@import "./blocks/html-academy-logo.scss";
@import "./blocks/select-program.scss";
@import "./blocks/products.scss";
@import "./blocks/product-card.scss";
@import "./blocks/show-more-card.scss";
@import "./blocks/extra-goods.scss";
@import "./blocks/simple-card.scss";
@import "./blocks/promo.scss";
@import "./blocks/subscription.scss";
@import "./blocks/program-selection.scss";
@import "./blocks/form/form.scss";
@import "./blocks/form/pet-group.scss";
@import "./blocks/form/program-group.scss";
@import "./blocks/form/owner-group.scss";
@import "./blocks/form/comment-group.scss";
@import "./blocks/form/extra-group.scss";
@import "./blocks/form/control-group.scss";

