.button {
  display: block;
  min-height: 40px;
  padding: 10px;
  border: none;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.button--primary {
  background-color: $base-decor-color-green;
  color: $base-decor-color-white;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }

  &:disabled {
    opacity: 0.3;
  }


}

.button--secondary {
  background-color: $extra-background-color;
  color: $base-text-color;


  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    // color: #ffffff4d;
  }

  &:disabled {
    opacity: 0.3;
  }
}
