// .checkbox {}

.checkbox__label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 30px;
  padding-top: 6px;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
  }

  &::after {
    content: "";
    width: 18px;
    height: 14px;
    position: absolute;
    // fill: #68b738; //to-do
    top: 8px;
    left: 6px;
    display: none;
    background-image: url("../../icons/stack.svg#icon-tick");
  }
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}


.checkbox__input:hover + .checkbox__label::before,
.checkbox__input:focus + .checkbox__label::before {
  border: 1px solid #bababa;
}

.checkbox__input:active + .checkbox__label {
  opacity: 0.6;
}


.checkbox__input:disabled + .checkbox__label {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    font-size: 20px;
    line-height: 30px;
    min-height: 40px;

    padding-top: 6px;
    padding-left: 45px;

    &::before {
      width: 40px;
      height: 40px;
      left: -15px;
    }

    &::after {
      width: 24px;
      height: 19px;
      top: 12px;
      left: -7px;
    }
  }
}
