.inner-text {
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $extra-text-color;
  text-transform: uppercase;

  margin: 0 auto;
  width: 320px;
}

.inner-text__text {
  display: block;
  width: 250px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .inner-text {
    margin: 0 70px;
    font-size: 20px;
    line-height: 30px;
    width: 769px;
  }

  .inner-text__text {
    width: 350px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .inner-text {
    margin: 0 auto;
    width: 1440px;
  }

  .inner-text__text {
    margin: 0 110px;
  }
}


