// .radio {
//   display: flex;
// }

.radio__label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 45px;
  // font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 30px;
  padding-top: 6px;


  &::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: $base-decor-color-green;
    border-radius: 50%;
    top: 9px;
    left: 9px;
    display: none;
  }
}

.radio__input:checked + .radio__label::after {
  display: block;
}

.radio__input:hover + .radio__label::before,
.radio__input:focus + .radio__label::before {
  border: 1px solid #bababa;
}

.radio__input:active + .radio__label{
  opacity: 0.6;
}


.radio__input:disabled + .radio__label{
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .radio__label {
    // padding-left: 45px;
    // font-family: Oswald;
    font-size: 20px;
    line-height: 30px;

    // min-height: 30px;
    // padding-top: 6px;

    &::before {
      width: 40px;
      height: 40px;
      top: 1px;
      left: -15px;
    }

    &::after {
      content: "";
      width: 18px;
      height: 18px;
      top: 12px;
      left: -4px;
    }
  }
}
