.special-title {
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  padding-inline-start: 0;
}

.special-title::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: $base-decor-color-green;
  left: 0;
  top: 10px;
}

.special-title__container {
  position: relative;
  z-index: 5;
}

.special-title__text {
  display: inline-block;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $extra-text-color;
  background-color: $base-background-color;
  padding: 0 41px 0 20px;
}


.special-title--similar .special-title__text {
  line-height: 26px;
  padding: 0 20px;
}

.special-title--similar::before {
  top: 14px;
}


@media (min-width: $tablet-width) {
  .special-title__container {
    padding-left: 30px;
  }

  .special-title__text {
    font-size: 32px;
    line-height: 32px;
    padding: 0 40px;
    max-width: 600px;
  }

  .special-title--similar .special-title__text {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .special-title__container {
    padding-left: 0;
    display: block;
    width: 1220px;
    margin: 0 auto;
  }

  .special-title__text {
    margin-left: -40px;
    font-size: 40px;
    line-height: 40px;
  }

  .special-title--similar .special-title__text {
    font-size: 36px;
    line-height: 36px;
  }
}
