.algorithm {
  background-color: $base-background-color;
  color: $base-text-color;
}

.algorithm__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $extra-text-color;
  text-align: center;
}

.algorithm__list {
  font-family: $secondary-font;
  font-size: 14px;
  list-style: none;
}

.algorithm__item {
  position: relative;
  line-height: 18px;
  height: 70px;
}

.algorithm__item::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-color: $base-decor-color-green;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
}

.algorithm__item--eco::before {
  background-image: url("../../icons/stack.svg#eco");
  background-size: 25px 28px;
}

.algorithm__item--powder::before {
  background-image: url("../../icons/stack.svg#powder");
  background-size: 26px 28.5px;
}

.algorithm__item--food::before {
  background-image: url("../../icons/stack.svg#food");
  background-size: 26px 31px;
}

.algorithm__item--time::before {
  background-image: url("../../icons/stack.svg#time");
  background-size: 26px 28.5px;
}
