.example {
  background-color: $custom-background-color;
  color: $base-text-color;
  padding: 25px 20px 40px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $extra-text-color;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.example__resume-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.example__food-costs {
  font-size: 14px;
  color: $extra-text-color;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient(to bottom, $base-background-color 57%, $custom-background-color 57%);
    padding: 45px 30px 101px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 1000px;
  }

  .example__resume-wrapper {
    margin-top: 55px;
    margin-bottom: 101px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
  }

  .example__food-costs {
    margin-top: 11px;
    font-size: 20px;
  }

  .example__food-costs-number {
    position: absolute;
    top: 29px;
    right: 0;
  }
}


@media (min-width: $desktop-width) {
  .example {
    background-color: $extra-background-color;
    background-image: none;
    max-width: unset;

    padding: 0 0 75px;
    min-height: 598px;
    position: relative;
  }

  .example__title {
    margin-bottom: 72px;
    padding-bottom: 74px;
    background-color: $base-background-color;
  }

  .example__title-container {
    display: block;
    width: 1220px;
    margin: 0 auto;
    padding-right: 495px;
  }

  .example__wrapper {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .example__text {
    width: 433px;
    margin-bottom: 68px;
  }

  .example__resume-wrapper {
    margin-bottom: 0;
    flex-direction: column;
    gap: 53px;
  }

  .example__food-costs {
    margin: 0;
    width: 350px;
  }

  .example__food-costs-number {
    position: absolute;
    top: 0;
    left: 237px;
  }

  .example__slider {
    position: absolute;
    top: -206px;
    right: 0;
  }
}
