.extra-goods {
  background-color: $base-background-color;
  color: $base-text-color;
  padding-top: 24px;
}

.extra-goods__title {
  margin-bottom: 34px;
}

.extra-goods__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0 20px;
}

.extra-goods__item {
  border-top: 1px solid #cdcdcd;
}

.extra-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra-goods__promo {
  // margin: 0 20px 40px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .extra-goods {
    margin-bottom: 82px;
  }

  .extra-goods__title {
    margin-bottom: 78px;
  }

  .extra-goods__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .extra-goods {
    margin-bottom: 30px;
  }

  .extra-goods__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
  }

  .extra-goods__list {
    padding: 0;
    width: 896px;
  }
}

