.hero {
  background-color: $base-background-color;
  color: $extra-text-color;
}

.hero__wrapper {
  position: relative;
  min-height: 440px;
  margin-bottom: 20px;
}

.hero__container {
  position: relative;
  background-image: url("../../images/hero/hero-background-cat-mobile@2x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #4b4a4e;
  padding-top: 27px;
  padding-bottom: 135px;
  min-height: 302px;
}

.hero__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $base-decor-color-green;
  opacity: 0.85;
  top: 0;
}

.hero__container::after {
  content: "";
  position: absolute;
  background-image: url("../../images/hero/hero-can-mobile@1x.png");
  background-size: 280px 270px;
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
  bottom: -134px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__title {
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $base-decor-color-white;
  margin: 0 auto 25px;
  width: 250px;
}

.hero__slogan {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $base-decor-color-white;
  margin: 0 40px;//20=40
}

.hero__select-program {
  color: $base-decor-color-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 138px auto 0;
  width: calc(100% - 40px);
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    position: relative;
    margin: 0 20px;
    padding-top: 65px;
    padding-left: 120px;
    padding-bottom: 526px;
    min-height: 875px;
  }

  .hero__wrapper::after {
    content: "";
    position: absolute;
    background-image: url("../../images/hero/hero-can-tablet@1x.png");
    width: 709px;
    height: 609px;
    background-repeat: no-repeat;
    display: block;
    bottom: -5px;
    left: 30px;
  }

  .hero__container {
    background-color: inherit;
    background-image: none;
    padding: 0;
  }

  .hero__container::before {
    background-color: inherit;
  }

  .hero__container::after {
    background-image: none;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $extra-text-color;
    width: 420px;
    margin: 0;
    margin-bottom: 40px;
    z-index: 2;
  }

  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $extra-text-color;
    margin: 0;
    margin-bottom: 50px;
    text-align: left;
    z-index: 2;
    max-width: 720px;
  }

  .hero__select-program {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    z-index: 2;
    width: 242px;
  }
}


@media (min-width: $desktop-width) {
  .hero {
    position: relative;
    z-index: -1;
    // width: 1440px;
    margin: 0 auto;
  }

  .hero::before {
    content: "";
    position: absolute;
    background-image: url("../../images/hero/hero-background-cat-desktop@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -60px -10px;
    background-color: #4f4e52;
    width: 50%;
    height: calc(100% + 115px - 184px);
    left: 50%;
    top: -115px;
  }

  .hero::after {
    content: "";
    position: absolute;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 30px top;
    background-color: $base-decor-color-green;
    opacity: 0.85;
    width: 50%;
    height: calc(100% + 115px - 184px);
    left: 50%;
    top: -115px;
  }

  .hero__wrapper {
    padding-top: 110px;
    padding-bottom: 184px;
    width: 1440px;
    margin: 0 auto;
  }

  .hero__wrapper::after {
    background-image: none;
  }

  .hero__container::after {
    content: "";
    position: absolute;
    background-image: url("../../images/hero/hero-can-desktop@1x.png");
    background-size: contain;
    width: 552px;
    height: 499px;
    top: -80px;
    left: 710px;
    // bottom: -138px;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 2;
  }
}

