.html-academy-logo {
  background-color: $extra-background-color;
  color: $base-text-color;
}

.html-academy-logo__link {
  text-decoration: none;
  color: $base-text-color;
  position: relative;
  width: 285px;
  display: block;
  margin: 0 auto;
}

.html-academy-logo__text {
  display: inline-block;
  font-family: $secondary-font;
  position: relative;
  width: 125px;
  margin: 0;
  padding: 5px 0;
}

.html-academy-logo__icon {
  float: right;
}

.html-academy-logo__link:hover > .html-academy-logo__icon,
.html-academy-logo__link:focus > .html-academy-logo__icon {
  color: $base-decor-color-green;
}

.html-academy-logo__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .html-academy-logo__link {
    width: 168px;
  }

  .html-academy-logo__text {
    padding: 6px 5px;
  }
}
