.html-academy-logo {
  background-color: $extra-background-color;
  color: $base-text-color;
}

.html-academy-logo__link {
  text-decoration: none;
  color: $base-text-color;
}

.html-academy-logo__text {
  font-family: $secondary-font;
}
