.html-academy-logo {
  background-color: $extra-background-color;
  color: $base-text-color;
}

.html-academy-logo__link {
  text-decoration: none;
  color: $base-text-color;

  &:active {
    opacity: 0.3;
  }
}

.html-academy-logo__text {
  font-family: $secondary-font;
  position: relative;
  width: 113px;
}

.html-academy-logo__text::after {
  content: "";
  mask-image: url("../../icons/stack.svg#html-academy-logo");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
  width: 27px;
  height: 34px;
  position: absolute;
  background-color: #666666;
  left: 136px;
  top: 50%;
  transform: translateY(-50%);
  display: block;

  &:hover,
  &:focus,
  &:active {
    background-color: $base-decor-color-green;
  }
}
