.invitation {
  background-color: $base-background-color;
  color: $base-text-color;
  display: flex;
  justify-content: space-between;
}

.invitation__title {
  margin: 0;
  padding-right: 20px;
  font-weight: 400;
  color: $custom-text-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
}

.invitation__text {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  width: 160px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .invitation__title {
    font-size: 20px;
    line-height: 26px;
    width: 230px;
    padding-top: 2px;
  }

  .invitation__text {
    font-size: 16px;
    text-align: right;
  }

  .invitation__address {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .invitation {
    width: 565px;
    min-height: 199px;
  }

  .invitation__text {
    text-align: left;
  }
}

