// to-do
.page__body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $base-text-color;
  background-color: $base-background-color;
  margin: 0;
  min-width: 320px;
}


@media (min-width: $desktop-width) {
  .page__body--index {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 600px;
      z-index: -2;
      background-color: #4f4e52;;
      top: 0;
      left: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 600px;
      z-index: -1;
      background-color: $base-decor-color-green;
      top: 0;
      opacity: 0.85;
      left: 50%;
    }
  }
}
