.product-card {
  background-color: $base-background-color;
  color: $base-text-color;
  padding: 21px 20px 24px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $product-card-title-text-color;
  text-transform: uppercase;
  width: 80px;
}

.product-card__stats-list {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
}

.product-card__stats-item {
  display: flex;
  justify-content: space-between;
  min-width: 140px;
}


@media (max-width: $mobile-width-only) {
  .product-card {
    position: relative;
  }

  .product-card__image-container {
    position: absolute;
    top: 21px;
    left: 20px;
    width: 140px;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-card__title {
    margin-left: 140px;
  }

  .product-card__stats-list {
    margin-left: 140px;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    background-color: $extra-background-color;
    width: 324px;
    min-height: 430px;
    padding: 0 37px 40px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product-card__stats-list {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding: 0 38px 40px;
  }
}

