// .product-card__image-container
// .product-card__stats-item

.product-card {
  background-color: $base-background-color;
  color: $base-text-color;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
}

.product-card:first-child {
  border-top: 1px solid #ebebeb;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-weight: 400;
  color: $product-card-title-text-color;
  text-transform: uppercase;
}

.product-card__stats-list {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: $mobile-width-only) {
  .product-card {
    position: relative;
    border: none;
  }

  .product-card__image-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .product-card__title {
    margin-left: 140px;
  }

  .product-card__stats-list {
    margin-left: 140px;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    background-color: $extra-background-color;
    width: 324px;
    min-height: 430px;
    padding: 0 37px 40px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product-card__stats-list {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding: 0 38px 40px;
  }
}

