.products {
  background-color: $base-background-color;
  color: $base-text-color;
  padding-top: 27px;
}

.products__title {
  margin-bottom: 41px;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
}

.products__item {
  border-top: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .products {
    background-color: $base-background-color;
    color: $base-text-color;
    padding: 53px 30px 51px;
  }

  .products__title {
    margin-bottom: 84px;
  }

  .products__list {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    border-bottom: none;
    margin: 0 auto;
    max-width: 1000px;
  }

  .products__item {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding: 70px 110px 47px;
    width: 1440px;
    margin: 0 auto;
  }


  .products__list {
    gap: 63px 80px;
    grid-template-columns: repeat(4, 1fr);
    max-width: unset;
  }
}
