.program-selection {
  background-color: $base-background-color;
  color: $extra-text-color;
}

.program-selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program-selection__text {
  font-size: 14px;
  line-height: 18px;
}
