.program-selection {
  background-color: $base-background-color;
  color: $extra-text-color;
  padding-top: 28px;
}

.program-selection__title {
  margin-bottom: 37px;
}

.program-selection__text {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .program-selection__text {
    margin-bottom: 66px;
  }
}
