.programs {
  background-color: $base-background-color;
  color: $base-text-color;
  padding: 0 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__item {
  background-color: $extra-background-color;
  list-style: none;
  position: relative;
  min-height: 266px;
  padding: 29px 19px 22px;
}

.programs__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: $base-decor-color-green;
  border-radius: 50%;
  left: 20px;
  top: 23px;
  display: block;
}

.programs__item--weight-loss::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-slim");
  width: 36px;
  height: 50px;
  left: 27px;
  top: 20px;
}

.programs__item--weight-gain::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#cat-pro");
  width: 67px;
  height: 28px;
  left: 12px;
  top: 35px;
}

.programs__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $extra-text-color;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
}

.programs__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 40px;
  width: 227px;
}

.programs__link {
  position: relative;
  line-height: 16px;
  color: $extra-text-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 2px;
}

.programs__link::after {
  content: "";
  mask-image: url("../../icons/stack.svg#arrow-right");
  mask-repeat: no-repeat;
  mask-size: 24px 12px;
  width: 32px;
  height: 12px;
  background-color: $extra-text-color;
  mask-position: 100%;
  top: 6px;
  right: -39px;
  position: absolute;
}

@media (min-width: $tablet-width) {
  .programs {
    padding-right: 30px;
    padding-left: 30px;
  }

  .programs__list {
    gap: 30px;
    margin: 0 auto;
    max-width: 1060px;
  }

  .programs__item {
    background-color: $extra-background-color;
    list-style: none;
    position: relative;
    min-height: 266px;
    padding: 76px 52px 57px;
    max-width: 1000px;
  }

  .programs__item::before {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 445px;
  }

  .programs__item--weight-loss::after {

    width: 140;
    height: 194px;
    left: 475px;
    top: 80px;
  }

  .programs__item--weight-gain::after {

    width: 268;
    height: 112px;
    left: 411px;
    top: 134px;
  }

  .programs__subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
    max-width: 340px;
  }

  .programs__text {
    color: $extra-text-color;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    min-width: 340px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 29.6px;
  }

  .programs__link::after {
    top: 9px;
    right: -48px;
  }
}


@media (min-width: $desktop-width) {
  .programs {
    padding-right: 110px;
    padding-left: 110px;
  }

  .programs__list {
    flex-direction: row;
    gap: 80px;
    justify-content: center;
  }

  .programs__item {
    background-color: $extra-background-color;
    list-style: none;
    position: relative;
    min-height: 266px;
    padding: 77px 52px 57px;
    min-width: 570px;
  }

  .programs__item::before {
    width: 200px;
    height: 200px;
    left: 65%;
    top: 92px;
  }

  .programs__item--weight-loss::after {

    width: 140;
    height: 194px;
    left: 70%;
    top: 81px;
  }

  .programs__item--weight-gain::after {

    width: 268;
    height: 112px;
    left: 60%;
    top: 135px;
  }

  .programs__subtitle {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
    max-width: 340px;
  }

  .programs__text {
    color: $extra-text-color;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    max-width: 340px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 29.6px;
  }
}
