.simple-card {
  padding-top: 13px;
  padding-bottom: 18px;
}

.simple-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $product-card-title-text-color;
  text-transform: uppercase;
}

.simple-card__price {
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  // text-align: center;text-align

  & dd {
    text-align: right;

    &::after {
      content: "\00A0₽";
    }
  }
}

@media (min-width: $tablet-width) {
  .simple-card {
    padding: 26px 49px 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .simple-card__title {
    font-size: 20px;
    line-height: 20px;
  }

  .simple-card__price {
    font-size: 16px;
    line-height: 20px;
    width: 230px;
    margin: 0;
    margin-bottom: 24px;
    justify-content: flex-end;

    & dd {
      text-align: right;
      width: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .simple-card {
    width: 896px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 16px;
  }

  .simple-card__title {
    width: 285px;
    padding-top: 10px;
  }

  .simple-card__price {
    width: 327px;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .simple-card__price dt {
    // width: 195px;
    flex-grow: 1;
    padding-left: 41px;
    width: auto;
  }

  .simple-card__price dd {
    width: auto;
  }

  .simple-card__button {
    width: 244px;
    margin-left: auto;
  }

}
