.socials {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
  width: 132px;
}

.socials__link {
  &::before {
    content: "";
    mask-repeat: no-repeat;
    display: block;
    width: 28px;
    height: 22px;
    background-color: #666666;
  }

  &:hover::before,
  &:focus::before {
    background-color: $base-decor-color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__link--vkontakte {
  &::before {
    mask-image: url("../../icons/stack.svg#icon-social-vkontakte");
    mask-size: 28px 21px;
  }
}

.socials__link--youtube {
  &::before {
    mask-image: url("../../icons/stack.svg#icon-social-youtube");
    mask-size: 28px 20px;
  }
}

.socials__link--telegram {
  &::before {
    mask-image: url("../../icons/stack.svg#icon-social-telegram");
    mask-size: 27px 21px;
  }
}
